@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right,#59b186 30%,#347355 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(26, 27, 59, 0.521);
    width: 600px;
    padding: 10px;
    margin: auto;
    margin: auto;
}

h1{
    color: #011b31;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(26, 27, 59, 0.521);
}

h2{
    color: aqua;
}

p {
    text-align: justify;
}